@page "/blog/edit"
@page "/blog/edit/{ArticleId}"

@attribute [Authorize]

@inject IMediator mediator
@inject IMapper mapper 
@inject ISnackbar snackbar

@using System.ComponentModel.DataAnnotations

<h3>Edit Blog Article</h3>

<div style="max-width: 1000px;">
    @if (model == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudCard>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-auto">Save</MudButton>
                    <MudButton Link="/blogarticles" Variant="Variant.Outlined" Color="Color.Secondary" Class="mr-auto">Cancel</MudButton>
                </MudCardActions>
            </MudCard>
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Title" HelperText="Unique Title"
                                  @bind-Value="model.Title" For="@(() => model.Title)" />
                    <MudTextField Label="Author" Class="mt-3"
                                  @bind-Value="model.Author" For="@(() => model.Author)" />
                    <MudDatePicker Label="Published Date" Editable="true" @bind-Date="model.PublishedDate" HelperText="Select date to display as published" />
                    <MudSelect T="string" Label="Tags" HelperText="Pick one or more tags" MultiSelection="true" @bind-Value="value" @bind-SelectedValues="model.Tags">
                        @foreach (var state in Tags)
                        {
                            <MudSelectItem T="string" Value="@state">@state</MudSelectItem>
                        }
                    </MudSelect>

                    <MudAutocomplete T="ImageFile" Label="Image" @bind-Value="model.Image"
                                     HelperText="Select Image from list (type name to find)"
                                     SearchFunc="@Search" ToStringFunc="@(e=> e==null?null : $"{e.Title}")" />


                    <MudTextField Lines="3" Label="Description" HelperText="Short summary for article in plain text" Class="mt-3"
                                  @bind-Value="model.Description" For="@(() => model.Description)" />



                    <MudTextField Label="Body" HelperText="Markdown content" Lines="30" Class="mt-3" @bind-Value="model.Body" For="@(() => model.Body)" />
                    <MudTextField Label="Slug" HelperText="page slug for navigation" Class="mt-3"
                                  @bind-Value="model.Slug" For="@(() => model.Slug)" />
                </MudCardContent>


            </MudCard>

        </EditForm>
    }
    </div>

@code {

    private async Task<IEnumerable<ImageFile>> Search(string value)
    {
        var results = await mediator.Send(new GetImageFiles.Query(0, 100, 1, value));
        return results.Data;
    }


    private AlterBlogArticle.Command model { get; set; }

    [Parameter]
    public string ArticleId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var tags = await mediator.Send(new GetContentTags.Query(0, 1000, 1,""));
        Tags = tags.Data.Select(s => s.Value).ToArray();

        if (ArticleId == null)
        {
            model = new AlterBlogArticle.Command();
        }
        else
        {
            var results = await mediator.Send(new GetBlogArticle.Query(Guid.Parse(ArticleId)));
            model = mapper.Map<AlterBlogArticle.Command>(results.Article);
        }
    }

    private string value { get; set; } = "Nothing selected";

    private string[] Tags;



    private async Task OnValidSubmit(EditContext context)
    {

        var response = await mediator.Send(model);
        model.Id = model.Id ?? response.Article.Id;
        snackbar.Add("Content Saved.", Severity.Normal, (options) =>
        {
            options.CloseAfterNavigation = true;
        });

        StateHasChanged();
    }

}
