@page "/landingpage/edit"
@page "/landingpage/edit/{ContentTagId}"

@attribute [Authorize]

@inject IMediator mediator
@inject IMapper mapper
@inject ISnackbar snackbar
@inject NavigationManager navManager

<h3>Edit Landing Page</h3>

<div style="max-width: 1000px;">
    @if (model == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudCard>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Save" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-8">Save</MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" ButtonType="ButtonType.Button" Disabled="DeleteDisabled" Variant="Variant.Filled" Color="Color.Secondary" OnClick="DeleteClick" Class="mr-8">Delete</MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowCircleLeft" Href="landingpages" Variant="Variant.Outlined" Color="Color.Secondary" Class="mr-8">Cancel</MudIconButton>
                </MudCardActions>
            </MudCard>
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Title" HelperText="Unique Title"
                                  @bind-Value="model.Title" For="@(() => model.Title)" />
                    <MudSelect T="string" Label="Tags" HelperText="Pick one or more tags" MultiSelection="true" @bind-Value="value" @bind-SelectedValues="model.Tags">
                        @foreach (var state in Tags)
                        {
                            <MudSelectItem T="string" Value="@state">@state</MudSelectItem>
                        }
                    </MudSelect>

                    <MudTextField Lines="3" Label="Description" HelperText="Short summary for article in plain text" Class="mt-3"
                                  @bind-Value="model.Description" For="@(() => model.Description)" />

                    <MudTextField Label="Hero Image Url" Class="mt-3"
                                  @bind-Value="model.HeroImageUrl" For="@(() => model.HeroImageUrl)" />

                    <MudTextField Label="Hero Title" HelperText="Short Title for hero section" Class="mt-3"
                                  @bind-Value="model.HeroTitle" For="@(() => model.HeroTitle)" />

                    <MudTextField Label="Hero Phrase" HelperText="Short phrase for hero section" Class="mt-3"
                                  @bind-Value="model.HeroPhrase" For="@(() => model.HeroPhrase)" />


                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Secondary" Class="mr-auto mt-3" OnClick="WaffleBodyClick">Waffle!</MudButton>
                    <MudTextField Label="Body" HelperText="Markdown content" Lines="30" Class="mt-3" @bind-Value="model.Body" For="@(() => model.Body)" />

                    <MudTextField Label="Slug" HelperText="url slug for page" Class="mt-3"
                                  @bind-Value="model.Slug" For="@(() => model.Slug)" />
                </MudCardContent>
            </MudCard>

        </EditForm>
    }
    </div>

@code {

    private AlterLandingPage.Command model { get; set; }

    [Parameter]
    public string ContentTagId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var tags = await mediator.Send(new GetContentTags.Query(0, 1000, 1, ""));
        Tags = tags.Data.Select(s => s.Value).ToArray();

        if (ContentTagId == null)
        {
            model = new AlterLandingPage.Command();
        }
        else
        {
            var results = await mediator.Send(new GetLandingPage.Query(Guid.Parse(ContentTagId)));
            model = mapper.Map<AlterLandingPage.Command>(results.Data);
        }
    }

    private string value { get; set; } = "Nothing selected";

    private string[] Tags;

    private bool DeleteDisabled { get { return model.Id == null; }}

    private async Task DeleteClick()
    {
        var result = await mediator.Send(new DeleteLandingPage.Command { Id = model.Id.Value });
        if(result.Success) { navManager.NavigateTo("landingpages"); }
    }

    private async Task OnValidSubmit(EditContext context)
    {

        var response = await mediator.Send(model);
        model.Id = model.Id ?? response.Data.Id;
        snackbar.Add("Content Saved.", Severity.Normal, (options) =>
        {
            options.CloseAfterNavigation = true;
        });

        StateHasChanged();
    }

    private Task WaffleBodyClick()
    {
        var markdown = WaffleEngine.Markdown(
            paragraphs: 5,
            includeHeading: false);

        model.Body = markdown;

        return Task.CompletedTask;
    }
}
