@page "/sitemapitem/edit"
@page "/sitemapitem/edit/{SitemapItemId}"

@attribute [Authorize]

@inject IDispatcher mediator
@inject IMapper mapper
@inject ISnackbar snackbar
@inject NavigationManager navManager

<h3>Edit Sitemap Item</h3>

<div style="max-width: 1000px;">
    @if (model == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudCard>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Save" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-8">Save</MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" ButtonType="ButtonType.Button" Disabled="DeleteDisabled" Variant="Variant.Filled" Color="Color.Secondary" OnClick="DeleteClick" Class="mr-8">Delete</MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowCircleLeft" Href="sitemapitems" Variant="Variant.Outlined" Color="Color.Secondary" Class="mr-8">Cancel</MudIconButton>
                </MudCardActions>
            </MudCard>
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Relative Path" HelperText="Relative Path in sitemap"
                                  @bind-Value="model.RelativePath" For="@(() => model.RelativePath)" />


                    <MudDatePicker Label="Last Modified Date" Editable="true" @bind-Date="model.LastModified" HelperText="Select date to display as Last Modified" />

                </MudCardContent>


            </MudCard>

        </EditForm>
    }
</div>

@code {

    private AlterSitemapItem.Command model { get; set; }

    [Parameter]
    public string SitemapItemId { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (SitemapItemId == null)
        {
            model = new AlterSitemapItem.Command();
        }
        else
        {
            var results = await mediator.Send(new GetSitemapItem.Query(Guid.Parse(SitemapItemId)));
            model = mapper.Map<AlterSitemapItem.Command>(results.Data);
        }
    }

    private bool DeleteDisabled { get { return model.Id == null; }}

    private async Task DeleteClick()
    {
        var result = await mediator.Send(new DeleteSitemapItem.Command { Id = model.Id.Value });
        if(result.Success) { navManager.NavigateTo("sitemapitems"); }
    }

    private async Task OnValidSubmit(EditContext context)
    {

        var response = await mediator.Send(model);
        model.Id = model.Id ?? response.Data.Id;
        snackbar.Add("Content Saved.", Severity.Normal, (options) =>
        {
            options.CloseAfterNavigation = true;
        });

        StateHasChanged();
    }

}