@page "/urlredirect/edit"
@page "/urlredirect/edit/{UrlRedirectId}"

@attribute [Authorize]

@inject IMediator mediator
@inject IMapper mapper
@inject ISnackbar snackbar
@inject NavigationManager navManager

<h3>Edit Url Redirect</h3>

<div style="max-width: 1000px;">
    @if (model == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudCard>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Save" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-8">Save</MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" ButtonType="ButtonType.Button"  Disabled="DeleteDisabled" Variant="Variant.Filled" Color="Color.Secondary" OnClick="DeleteClick" Class="mr-8">Delete</MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowCircleLeft" Href="urlredirects" Variant="Variant.Outlined" Color="Color.Secondary" Class="mr-8">Cancel</MudIconButton>
                </MudCardActions>
            </MudCard>
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Redirect From" HelperText="Relative Path to Redirect From"
                                  @bind-Value="model.RedirectFrom" For="@(() => model.RedirectFrom)" />

                    <MudTextField Label="Redirect To" HelperText="Relative Path to Redirect To"
                                  @bind-Value="model.RedirectTo" For="@(() => model.RedirectTo)" />

                    <MudCheckBox @bind-Checked="@model.Permanent" Label="Permanent Redirect"></MudCheckBox>

                </MudCardContent>


            </MudCard>

        </EditForm>
    }
    </div>

@code {

    private AlterUrlRedirect.Command model { get; set; }

    [Parameter]
    public string UrlRedirectId { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (UrlRedirectId == null)
        {
            model = new AlterUrlRedirect.Command();
        }
        else
        {
            var results = await mediator.Send(new GetUrlRedirect.Query(Guid.Parse(UrlRedirectId)));
            model = mapper.Map<AlterUrlRedirect.Command>(results.Data);
        }
    }

    private bool DeleteDisabled { get { return model.Id == null; }}

    private async Task DeleteClick()
    {
        var result = await mediator.Send(new DeleteUrlRedirect.Command { Id = model.Id.Value });
        if(result.Success) { navManager.NavigateTo("urlredirects"); }
    }

    private async Task OnValidSubmit(EditContext context)
    {

        var response = await mediator.Send(model);
        model.Id = model.Id ?? response.Data.Id;
        snackbar.Add("Content Saved.", Severity.Normal, (options) =>
        {
            options.CloseAfterNavigation = true;
        });

        StateHasChanged();
    }

}
